package com.starro.bodoc.sample;

import com.lucas.common.engine.test.SuperTest;
import com.starro.bodoc.sample.form.SampleForm.Request;
import org.junit.FixMethodOrder;
import org.junit.Test;
import org.junit.runners.MethodSorters;
import org.springframework.transaction.annotation.Transactional;
import static com.starro.bodoc.sample.SampleHelper.*;

/**
 * @since       #description.since#
 * @author      #description.author#
 * @description sample test
 **********************************************************************************************************************/
@FixMethodOrder(MethodSorters.NAME_ASCENDING)
@Transactional
public class SampleTest extends SuperTest {

	@Test
    public void t01_getAll() {
        add   (addSample());
        add   (addSample());
        getAll(findSample());
    }

    @Test
    public void t02_get() {
        get(add(addSample()).getId());
    }

    @Test
    public void t03_add() {
        add(addSample());
    }

    @Test
    public void t04_modify() {
        modify(add(addSample()).getId(), modifySample());
    }

    @Test
    public void t05_remove() {
        remove(add(addSample()).getId());
    }

    @Test
    public void t06_get_notFound() {
        get_notFound(Long.MIN_VALUE);
    }

    @Test
    public void t07_modify_notFound() {
        modify_notFound(Long.MIN_VALUE, modifySample());
    }

    @Test
    public void t08_remove_notFound() {
        remove_notFound(Long.MIN_VALUE);
    }
}